.team-page .header-campus {
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('../../images/team.jpg') 100px -100px / cover;
}

.team-member img{
    width: 70%;
}
.team-name{
    margin-bottom: 0px;
    color:#fff;
}
.team-title{
    color:rgb(158, 158, 158);
}
