nav{
  z-index: 2000;
  padding: 10px 20px;
  text-align: right;
  font-weight: 600;
  font-size: 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.main-nav-div{
  display: block;
  padding: 0px;
  list-style: none;
}

.main-nav-item{
  padding: 10px;
  padding-bottom: 0px;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 10px;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  border-bottom: 2px solid transparent;
}
.main-nav-div .main-nav-item:hover{
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: 2px solid #fff;
}
.main-nav-div .active .main-nav-item{
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: 2px solid #fff;
}
.main-nav-div .navbar-logo{
  width:100px;
  float: left;
  position: absolute;
  top:0px;
}

.mobile-nav-header-bar .navbar-logo{
  width:130px;
  float: right;
  position: absolute;
  top:-5px;
  right: 22px;
}
.mobile-nav-header-bar{
  z-index: 2000;
  padding: 10px 20px;
  text-align: right;
  font-weight: 600;
  font-size: 1.1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  box-sizing: border-box;
  background-color: rgba(25,25,25,0.7);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.hamburger{
  outline: none;
  float: left;
}
.mobile-nav-sidebar{
  position: fixed;
  padding-top: 0px;
  width: 250px;
  height: calc(100vh - 67px);
  background-color: #13262c;
  top: 67px;
  left: -250px;
  color: #fff;
  z-index: 10001;
  transition: all 0.4s cubic-bezier(0.47, 0, 0.75, 0.72);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.mobile-nav-sidebar .main-nav-item{
  display: block;
  margin:0px;
  text-decoration: none;
  padding:20px 15px;
  font-size: 1.1rem;
}
.mobile-nav-sidebar a{
  text-decoration: none;
}
.mobile-nav-sidebar .active-mobile-nav{
  background-color: rgba(0,0,0,0.4);
}
.mobile-nav-sidebar .main-nav-item:hover{
  background-color: rgba(0,0,0,0.4);
}
.sidebar-is-active{
  left: 0px !important;
}

.logo{
  float: left;
}

.logo img{
  width: 190px;
  position: absolute;
  left: 30px;
  top:-30px
}
