.campus-ambassador-page{

}

.campus-ambassador-page .header{
    /*padding-top: 200px;
    background: url('../images/campus-ambassador.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;*/
}
.header-campus{
   display: flex;
   justify-content:center;
   align-items: center;
   background: linear-gradient(
      rgba(20,20,20, .5),
      rgba(20,20,20, .5)),
      url('../images/campus-ambassador.jpg') center 0px / cover;
   }
.campus-ambassador-page h1,h3{
  font-weight: 400;
  color: #fff;
  width: auto;
}

p.description{
  text-align: justify;
}
.table-row{
  border-bottom: 1px solid #9E9E9E !important;
}
table{
  overflow: hidden;
}
.table-row td{
  /*overflow: visible !important;
  text-overflow: clip !important;
  white-space:pre !important;*/
}
.table-container .react-reveal div{
  overflow-x:scroll !important;
}

.table-container .react-reveal div div{
  overflow-x: scroll;
}

.table-container .react-reveal div div div{
  overflow-x: scroll !important;
}

@media (max-width:600px) {
  .table-container{
    width: 100%;
  }
  .table-container table{
    width: 600px !important;

    overflow-x: scroll !important;
  }
}
