.campus-ambassador-page{

}

.campus-ambassador-page .header{
    padding-top: 200px;
    background: url('../images/campus-ambassador.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}

.campus-ambassador-page h1,h3{
  font-weight: 400;
  color: #fff;
  width: auto;
}

p.description{
  text-align: justify;
}

.table-row td{
  overflow: visible !important;
  text-overflow: clip !important;
  white-space:pre !important;
}


@media (max-width:600px) {
  .table-container{
    width: 100%;
    overflow: scroll;
  }
  .table-container table{
    width: 160% !important;

    overflow: scroll !important;
  }
  .table-container div div{
    overflow: auto !important;
  }
}
