.events{
    font-family: Roboto;
}

.events .event-card{
    background: #5E5E5E;
}

.event-categories{
    background: #C3C3C3;
    padding-top: 200px;
}

.event-categories .event-card{
    left: 400px;
}

@media(max-width: 600px){
    .event-categories .event-card{
        left: 50px;
    }
}

.events-list{
    background: #242424;
    width: 100%;
    position: relative;
    top:-50px;
    z-index: 1;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
    color: #ffffff;
}

.events-list h1{
    font-weight: 100;
}

.events-list h4{
    color:#6A6A6A;
}
