.homepage{
  background: #242424;
  min-height: 200vh;
}

.header{
  z-index: 1;
  height: 100vh;
  position: relative;
  top:-100px;
  width: 100%;
  background: linear-gradient(180deg,#004E67,#242424);
  /*background-image: url('../images/header.jpg');*/
  background-size: cover;
}

.register-button-container{
  width: 100%;
  position: relative;
  top:-250px;
  z-index: 10;
  display: flex;
  justify-content: center;
}
/* Following method rotate the container to implement horizontal scrolling */

/*
.featured-container{
  position: relative;
  top:100px;
  left: 0px;
  width: 200px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;
}

.featured-container .phenomenon{
  margin:30px;
  width:200px;
  transform: rotate(90deg);
  transform-origin: right top;
}*/

.featured-container{
  display: flex;
  width: 100%;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  color: #ffffff;
}

.featured-container .phenomenon{
  margin: 10px;
  width: 400px;
  position: absolute;
  left: 100px;
}

.featured-container .phenomenon h2{
  font-weight: 300;
}

.event-card{
  background: #232323;
  width: auto;
  width: 200px;
  margin-top:20px;
  padding: 20px;
  text-align: center;
  margin-right:20px;
}


.featured-container .event-card{
  height: 180px;
  position: relative;
  left: 600px;
  z-index: 2;
}

.event-card .overlay-layer{
  position: absolute;
  top:0px;
  left: 0px;
  background: rgba(46,46,46,0.9);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.events-specific-card{
  background:url('../images/home-cards/events.jpg');
  background-size: cover;
}

.category-title{
  font-size:24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top:80px;
}

.sports{
  background: url('../images/home-cards/sports.jpg');
  background-size: cover;
}

.proshows{
  background: url('../images/home-cards/proshows.jpg');
  background-size: cover;
}

.previous{
  background: url('../images/home-cards/previous.jpg');
  background-size: cover;
}

@media (max-width: 600px) {
  .featured-container .phenomenon{
    left: 5px;
    width: 300px;
  }
  .featured-container .event-card{
    left: 300px;
  }
}

.student-ambassador{
  background: #0091C5;
  width: 100%;
  position: relative;
  top:-50px;
  z-index: 1;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}

.student-ambassador h1{
  font-weight: 300;
}

.student-ambassador h4{
  color:#6A6A6A;
}

footer{
  background: #232323;
  color: #ffffff;
  padding: 10px;
}

footer h1{
  font-weight: 300;
}

footer a{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-top: 100px;
}

footer button{
  background: #0091C5;
  padding: 10px;
  color: #ffffff;
  width: 50%;
  border:none;
  font-weight: bold;
  font-size: 14px;
}

@media(max-width: 600px){
  footer h1,h4{
    margin-left:20px;
  }
  footer button{
    width:97%;
  }
}
.arrow{
  position: absolute;
  top:120vh;
  cursor: pointer;
  padding: 20px;
  background: rgba(0,0,0,0.5);
}

.left{
  left: 0px;
  padding-top: 20px;
  z-index: 10;
}

.right{
  right: 0px;
  padding-top: 20px;
  z-index: 10;
}

@media handheld {
  .arrow{
    display: none;
  }
}

@media(max-width:600px){
  .arrow{
    display: none;
  }
}

.visible{
  visibility: visible;
  transition: all 1s;
}

.hidden{
  visibility: hidden;
  transition: all 1s;
}

.countdown{
  background: #ED994E;
  width:100%;
  position: relative;
  top:-50px;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
