nav{
  z-index: 2000;
  padding: 10px 20px;
  text-align: right;
  font-weight: 600;
  font-size: 1.1rem;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
}

.main-nav-div{
  display: inline-flex;
  padding: 0px;
  list-style: none;
}

.main-nav-item{
  padding: 10px;
  padding-bottom: 0px;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 10px;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  border-bottom: 2px solid transparent;
}
.main-nav-item:hover{
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: 2px solid #fff;
}
.main-nav-div .active .main-nav-item{
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: 2px solid #fff;
}
