nav{
  z-index: 2;
  padding: 20px;
  text-align: right;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  top: 0px;
  right: 0px;
}

.main-nav-div{
  display: inline-flex;
  padding: 0px;
  list-style: none;
}

.main-nav-item{
  padding: 10px;
  cursor: pointer;
  display: inline-block;
}
