/* Common CSS to be used throughout the App*/
.text-white{
    color:#fff !important;
}
.text-light{
    color:#9E9E9E !important;
}
.text-bold{
    font-weight: bold !important;
}
.background-black{
    background-color: #1e1e1e !important;
}
.background-white{
    background-color: #ffffff;
}
.single-event-wrap{
    padding:20px 10px;
}
.event-card-left-part{
    padding:20px;
}
.event-register-button{
    width: 100%;
    padding: 10px 0;
}
.event-register-button{
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.event-register-button:hover{
    /*background-color: #ebebeb !important;*/
}
.prize-medal{
    margin:auto;
    width:80%;
}
.event-register-div{
    padding: 40px 25px;
}
.event-right-detail-item{
    border-top:solid 1px #323232;
    border-bottom:solid 1px #323232;
    padding:20px 25px;
}
.item-right-tag{
    float: left;
}
.item-right-detail{
    text-align: right;
}
.fa{
    transition: all 0.3s ease-in;
}
.facebook-fa:hover{
    color:#3b5998;
}
.twitter-fa:hover{
    color:#0084b4;
}
.whatsapp-fa:hover{
    color:#34af23;
}
a{
    color: inherit;
    font-style: normal;
}
.hide-on-mobile-only{
    display: none;
}
.display-on-mobile-only{
    display: block;
}
@media (min-width:769px){
    .event-card-left-part{
        padding:40px;
    }
    .single-event-wrap{
        padding:40px 70px;
    }
    .hide-on-mobile-only{
        display: block;
    }
    .display-on-mobile-only{
        display: none;
    }
}
