body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden !important;
  background-color: #f2f2f2;
}
.display-inline-block{
  display: inline-block !important;
}
.display-none{
  display: none !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
.padding-0{
  padding: 0px !important;
}
.padding-top-0{
  padding-top: 0px !important;
}
.padding-right-0{
  padding-right: 0px !important;
}
.padding-bottom-0{
  padding-bottom: 0px !important;
}
.padding-left-0{
  padding-left: 0px !important;
}

.margin-0{
  margin: 0px !important;
}
.margin-top-0{
  margin-top: 0px !important;
}
.margin-right-0{
  margin-right: 0px !important;
}
.margin-bottom-0{
  margin-bottom: 0px !important;
}
.margin-left-0{
  margin-left: 0px !important;
}
.text-justify{
  text-align: justify !important;
}
.width-100{
  width: 100% !important;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #eee;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #eee;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #eee;
}
:-moz-placeholder { /* Firefox 18- */
	color: #eee;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #ebebeb;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background-color: #747474;
	border-radius: 20px;
}
::-webkit-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 20px;
}
::-moz-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #ebebeb;
	border-radius: 20px;
}
::-moz-scrollbar-thumb {
	background-color: #747474;
	border-radius: 20px;
}
::-moz-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 20px;
}
