body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  background-color: #f2f2f2;
  font-family: Montserrat,sans-serif !important;
}
.display-inline-block{
  display: inline-block !important;
}
.display-none{
  display: none !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
.padding-0{
  padding: 0px !important;
}
.padding-top-0{
  padding-top: 0px !important;
}
.padding-right-0{
  padding-right: 0px !important;
}
.padding-bottom-0{
  padding-bottom: 0px !important;
}
.padding-left-0{
  padding-left: 0px !important;
}

.margin-0{
  margin: 0px !important;
}
.margin-top-0{
  margin-top: 0px !important;
}
.margin-right-0{
  margin-right: 0px !important;
}
.margin-bottom-0{
  margin-bottom: 0px !important;
}
.margin-left-0{
  margin-left: 0px !important;
}
.text-justify{
  text-align: justify !important;
}
.width-100{
  width: 100% !important;
}
.text-italic{
  font-style: italic;
}
.text-size-11{
    font-size: 1.1rem !important;
}
.text-size-12{
    font-size: 1.2rem !important;
}
.text-size-13{
    font-size: 1.3rem !important;
}
.text-size-14{
    font-size: 1.4rem !important;
}
.text-size-15{
    font-size: 1.5rem !important;
}
.text-size-16{
    font-size: 1.6rem !important;
}
.text-size-17{
    font-size: 1.7rem !important;
}
.text-size-18{
    font-size: 1.8rem !important;
}
.text-size-19{
    font-size: 1.9rem !important;
}
.text-size-20{
    font-size: 2rem !important;
}
.text-size-21{
    font-size: 2.1rem !important;
}
.text-size-22{
    font-size: 2.2rem !important;
}
.text-size-23{
    font-size: 2.3rem !important;
}
.text-size-24{
    font-size: 2.4rem !important;
}
.text-size-25{
    font-size: 2.5rem !important;
}
.text-size-26{
    font-size: 2.6rem !important;
}
.text-size-27{
    font-size: 2.7rem !important;
}
.text-size-28{
    font-size: 2.8rem !important;
}
.text-size-29{
    font-size: 2.9rem !important;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #eee;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #eee;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #eee;
}
:-moz-placeholder { /* Firefox 18- */
	color: #eee;
}

::-webkit-scrollbar {
	width: 9px;
	height: 6px;
	background-color: #ebebeb;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background-color: #484848;
	border-radius: 0px;
}
::-webkit-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 20px;
}
::-moz-scrollbar {
	width: 9px;
	height: 6px;
	background-color: #ebebeb;
	border-radius: 20px;
}
::-moz-scrollbar-thumb {
	background-color: #484848;
	border-radius: 20px;
}
::-moz-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 20px;
}
